	<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

    <!-- Header -->
    <div id="header">

        <% if (details[0].buyer_id) { %>
                            <div class="container">
            
                                <!-- Left Side Content -->
                                <div class="left-side">
            
                                    <!-- Logo -->
                                    <div id="logo">
                                        <a href="http://localhost:3000/index"><img src="/images/logo.png" alt=""></a>
                                    </div>
            
                                    <!-- Main Navigation -->
                                    <nav id="navigation">
                                        <ul id="responsive">
            
                                            <li><a href="#" class="current">Home</a>
                                                <ul class="dropdown-nav">
                                                    <li><a href="http://localhost:3000/index">Home Page</a></li>
            
                                                </ul>
                                            </li>
            
                                            <li><a href="#">Browse</a>
                                                <ul class="dropdown-nav">
                                                    <li><a href="http://localhost:3000/sellers-grid-layout-full-page">Browse Sellers</a>
                                                    </li>
                                                    <li><a href="http://localhost:3000/products-grid-layout-full-page">Browse Products</a>
                                                    </li>
                                                    <li><a href="http://localhost:3000/browsecompanyfreelancer">Browse Companies</a>
                                                    </li>
                                                </ul>
                                            </li>
            
            
                                            <li><a href="#">Dashboard</a>
                                                <ul class="dropdown-nav">
                                                    <li><a href="http://localhost:3000/single-freelancer-profile">View Profile</a>
                                                    </li>
                                                    <li><a href="http://localhost:3000/dashboard-reviews">Reviews</a></li>
            
                                                    <li><a href="http://localhost:3000/dashboard-my-active-cart">My Cart</a>
                                                    </li>
                                                    <li><a href="http://localhost:3000/myorders">My Orders</a>
                                                    </li>
                                                    <li><a href="http://localhost:3000/dashboard-settings">Settings</a></li>
                                                </ul>
                                            </li>
            
                                            <li><a href="http://localhost:3000/pages-contact">Contact us</a>
                                            </li>
            
                                        </ul>
                                    </nav>
                                    </nav>
                                    <div class="clearfix"></div>
                                    <!-- Main Navigation / End -->
            
                                </div>
                                <!-- Left Side Content / End -->
            
            
                                <!-- Right Side Content / End -->
                                <div class="right-side">
            
            
                                    <!-- User Menu -->
                                    <div class="header-widget">
            
                                        <!-- Messages -->
                                        <div class="header-notifications user-menu">
                                            <div class="header-notifications-trigger">
                                                <a href="#">
                                                    <div class="user-avatar status-online"><img src="<%= details[0].image %>"
                                                            alt=""></div>
                                                </a>
                                            </div>
            
                                            <!-- Dropdown -->
                                            <div class="header-notifications-dropdown">
            
                                                <!-- User Status -->
                                                <div class="user-status">
            
                                                    <!-- User Name / Avatar -->
                                                    <div class="user-details">
                                                        <div class="user-avatar status-online"><img src="<%= details[0].image %>"
                                                                alt=""></div>
                                                        <div class=" user-name">
                                                            <%= details[0].f_name + " " + details[0].l_name %>
                                                                <span>Buyer</span>
                                                        </div>
                                                    </div>
            
                                                    <!-- User Status Switcher -->
                                                    <div class="status-switch" id="snackbar-user-status">
                                                        <label class="user-online current-status">Online</label>
                                                        <label class="user-invisible">Invisible</label>
                                                        <!-- Status Indicator -->
                                                        <span class="status-indicator" aria-hidden="true"></span>
                                                    </div>
                                                </div>
            
                                                <ul class="user-menu-small-nav">
                                                    <li><a href="http://localhost:3000/logout/freelancer"><i
                                                                class="icon-material-outline-power-settings-new"></i> Logout</a>
                                                    </li>
                                                    <!-- Mobile Navigation Button -->
                                                    <span class="mmenu-trigger">
                                                        <button class="hamburger hamburger--collapse" type="button">
                                                            <span class="hamburger-box">
                                                                <span class="hamburger-inner"></span>
                                                            </span>
                                                        </button>
                                                    </span>
            
                                            </div>
                                            <!-- Right Side Content / End -->
            
                                        </div>
                                    </div>
                    <!-- Header / End -->
                    <% } else { %>
                        
                                        <div class="container">
                        
                                            <!-- Left Side Content -->
                                            <div class="left-side">
                        
                                                <!-- Logo -->
                                                <div id="logo">
                                                    <a href="http://localhost:3000/index-company"><img src="/images/logo.png"
                                                            alt=""></a>
                                                </div>
                        
                                                <!-- Main Navigation -->
                                                <nav id="navigation">
                                                    <ul id="responsive">
                        
                                                        <li><a href="#" class="current">Home</a>
                                                            <ul class="dropdown-nav">
                                                                <li><a href="http://localhost:3000/index-company">Home Page</a></li>
                        
                                                            </ul>
                                                        </li>
                        
                                                        <li><a href="#">Find Companies</a>
                                                            <ul class="dropdown-nav">
                                                                <li><a href="http://localhost:3000/sellers-grid-layout-full-page">Browse Sellers</a>
                                                                </li>
                                                                <li><a href="http://localhost:3000/browse-companies">Browse Companies</a></li>
                                                                <li><a href="http://localhost:3000/companyprofile">Company Profile</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                        
                                                        <li><a href="#">For Company</a>
                                                            <ul class="dropdown-nav">
                                                                <li><a href="http://localhost:3000/dashboard-manage-orders">Manage Orders</a></li>
                                                                <li><a href="http://localhost:3000/dashboard-manage-products">Manage Products</a></li>
                                                                <li><a href="http://localhost:3000/dashboard-post-a-products">Post a Product</a></li>
                                                            </ul>
                                                        </li>
                        
                                                        <li><a href="#">Dashboard</a>
                                                            <ul class="dropdown-nav">
                                                                <li><a href="http://localhost:3000/companyreviews">Reviews</a></li>
                                                                <li><a href="http://localhost:3000/dashboard-manage-products">Products</a>
                                                                    <ul class="dropdown-nav">
                                                                        <li><a href="http://localhost:3000/dashboard-manage-products">Manage
                                                                                Products</a></li>
                                                                        <li><a href="http://localhost:3000/dashboard-post-a-products">Post a
                                                                                Product</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><a href="http://localhost:3000/setting-company">Settings</a></li>
                                                            </ul>
                                                        </li>
                        
                                                        <li><a href="http://localhost:3000/pages-contact">Contact us</a>
                                                        </li>
                        
                                                    </ul>
                                                </nav>
                                                </nav>
                                                <div class="clearfix"></div>
                                                <!-- Main Navigation / End -->
                        
                                            </div>
                                            <!-- Left Side Content / End -->
                        
                        
                                            <!-- Right Side Content / End -->
                                            <div class="right-side">
                        
                        
                                                <!-- User Menu -->
                                                <div class="header-widget">
                        
                                                    <!-- Messages -->
                                                    <div class="header-notifications user-menu">
                                                        <div class="header-notifications-trigger">
                                                            <a href="#">
                                                                <div class="user-avatar status-online"><img src="<%= details[0].image %>"
                                                                        alt=""></div>
                                                            </a>
                                                        </div>
                        
                                                        <!-- Dropdown -->
                                                        <div class="header-notifications-dropdown">
                        
                                                            <!-- User Status -->
                                                            <div class="user-status">
                        
                                                                <!-- User Name / Avatar -->
                                                                <div class="user-details">
                                                                    <div class="user-avatar status-online"><img src="<%= details[0].image %>"
                                                                            alt="Company Logo"></div>
                                                                    <div class="user-name">
                                                                        <%= details[0].companyname%> <span>Seller</span>
                                                                    </div>
                                                                </div>
                        
                                                                <!-- User Status Switcher -->
                                                                <div class="status-switch" id="snackbar-user-status">
                                                                    <label class="user-online current-status">Online</label>
                                                                    <label class="user-invisible">Invisible</label>
                                                                    <!-- Status Indicator -->
                                                                    <span class="status-indicator" aria-hidden="true"></span>
                                                                </div>
                                                            </div>
                        
                                                            <ul class="user-menu-small-nav">
                                                                <li><a href="http://localhost:3000/logout/company"><i
                                                                            class="icon-material-outline-power-settings-new"></i> Logout</a>
                                                                </li>
                                                            </ul>
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                                <!-- User Menu / End -->
                                                <!-- Mobile Navigation Button -->
                                                <span class="mmenu-trigger">
                                                    <button class="hamburger hamburger--collapse" type="button">
                                                        <span class="hamburger-box">
                                                            <span class="hamburger-inner"></span>
                                                        </span>
                                                    </button>
                                                </span>
                        
                                            </div>
                                            <!-- Right Side Content / End -->
                        
                                        </div>
                                    </div>
    <% }%>
    <!-- Header / End -->
    </div>
                                </header>
                                