<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>ShopZone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" type='text/css' href="/css/style.css">
	<link rel="stylesheet" type='text/css' href="/css/colors/orange.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<%- include('../partials/header') %>

		<div class="clearfix"></div>
		<!-- Header Container / End -->
		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>Browse Companies</h2>



					</div>
				</div>
			</div>
		</div>

		<!-- Page Content
================================================== -->
		<div class="container">
			<div class="row">

				<div class="col-xl-12">
					<div class="companies-list">
						<% for (let i=0; i < infocount.count; i++){ %>
							<a href="http://localhost:3000/singlecompanypagefreelancer/<%=info[i].seller_id%>"
								class="company">
								<div class="company-inner-alignment">
									<span class="company-logo"><img src="<%= info[i].image %>" alt=""></span>
									<h4>
										<%= info[i].companyname %>
									</h4>
								</div>
							</a>
							<%}%>
					</div>
				</div>
			</div>
		</div>


		<!-- Spacer -->
		<div class="margin-top-70"></div>
		<!-- Spacer / End-->

		<%- include('../partials/footer') %>



	</div>
	<!-- Wrapper / End -->

	<!-- Scripts
================================================== -->
	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/mmenu.min.js"></script>
	<script src="/js/tippy.all.min.js"></script>
	<script src="/js/simplebar.min.js"></script>
	<script src="/jjss/bootstrap-slider.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/snackbar.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/counterup.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		}); 
	</script>

</body>

</html>