<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>ShopZone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" type='text/css' href="/css/style.css">
	<link rel="stylesheet" type='text/css' href="/css/colors/orange.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="http://localhost:3000/index"><img src="/images/logo.png" alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li><a href="#" class="current">Home</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/index">Home Page</a></li>

									</ul>
								</li>

								<li><a href="#">Browse</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/sellers-grid-layout-full-page">Browse Sellers</a>
										</li>
										<li><a href="http://localhost:3000/tasks-grid-layout-full-page">Browse Products</a>
										</li>
										<li><a href="http://localhost:3000/browsecompanyfreelancer">Browse Companies</a>
										</li>
									</ul>
								</li>


								<li><a href="#">Dashboard</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/single-freelancer-profile">View Profile</a>
										</li>
										<li><a href="http://localhost:3000/dashboard-reviews">Reviews</a></li>

										<li><a href="http://localhost:3000/dashboard-my-active-bids">My Cart</a>
										</li>
										<li><a href="http://localhost:3000/myactivejobs">My Orders</a>
										</li>
										<li><a href="http://localhost:3000/dashboard-settings">Settings</a></li>
									</ul>
								</li>

								<li><a href="http://localhost:3000/pages-contact">Contact us</a>
								</li>

							</ul>
						</nav>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">


						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#">
										<div class="user-avatar status-online"><img src="<%= details[0].image %>"
												alt=""></div>
									</a>
								</div>

								<!-- Dropdown -->
								<div class="header-notifications-dropdown">

									<!-- User Status -->
									<div class="user-status">

										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online"><img src="<%= details[0].image %>"
													alt=""></div>
											<div class=" user-name">
												<%= details[0].f_name + " " + details[0].l_name %>
													<span>Buyer</span>
											</div>
										</div>

										<!-- User Status Switcher -->
										<div class="status-switch" id="snackbar-user-status">
											<label class="user-online current-status">Online</label>
											<label class="user-invisible">Invisible</label>
											<!-- Status Indicator -->
											<span class="status-indicator" aria-hidden="true"></span>
										</div>
									</div>

									<ul class="user-menu-small-nav">
										<li><a href="http://localhost:3000/logout/freelancer"><i
													class="icon-material-outline-power-settings-new"></i> Logout</a>
										</li>
										<!-- Mobile Navigation Button -->
										<span class="mmenu-trigger">
											<button class="hamburger hamburger--collapse" type="button">
												<span class="hamburger-box">
													<span class="hamburger-inner"></span>
												</span>
											</button>
										</span>

								</div>
								<!-- Right Side Content / End -->

							</div>
						</div>
						<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->

		<!-- Dashboard Container -->
		<div class="dashboard-container">


			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Reviews</h3>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Dashboard</a></li>
								<li>Reviews</li>
							</ul>
						</nav>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- Dashboard Box -->
						<div class="col-xl-12">
							<div class="dashboard-box margin-top-0">

								<!-- Headline -->
								<div class="headline">
									<h3><i class="icon-material-outline-business"></i> Your Reviews</h3>
								</div>

								<div class="content">
									<ul class="dashboard-box-list">
										<% for (let i=0; i < review.length; i++) { %>
											<li>
												<div class="boxed-list-item">
													<!-- Content -->
													<div class="item-content">
	
																<h4>
																	<%= details[0].f_name + " " +
																	details[0].l_name %>
																</h4>
																	<div class="item-details margin-top-10">
																		<div class="star-rating">Rating: <%=
																				review[i].rating %>
																		</div>
																		<div class="detail-item"><i
																				class="icon-material-outline"></i>
																			Review Title: <%= review[i].review_title %>
																		</div>
																		<div class="detail-item"><i
																			class="icon-material-outline"></i>
																		Product: <%= review[i].product_name %>
																	</div>
																	</div>
																	<div class="item-description">
																		<p>
																			<%= review[i].review_text %>
																		</p>
																	</div>
													</div>
											</li>
											<% } %>
									</ul>
								</div>
							</div>


						</div>


					</div>
					<!-- Row / End -->


				</div>
			</div>
			<!-- Dashboard Content / End -->

		</div>
		<!-- Dashboard Container / End -->
<!-- Footer
================================================== -->
<div id="footer">

	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">

						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="/images/logo.png" alt="">
									<h1 style="font-size: 50px; color: blanchedalmond;">
										<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShopZone </strong>
									</h1>
								</div>
							</div>
						</div>

						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom"
												data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom"
												data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom"
												data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom"
												data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>

							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<label>Language : English</label>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Buyers</h3>
						<ul>
							<li><a href="http://localhost:3000/tasks-grid-layout-full-page"><span>Search Products</span></a></li>
							<li><a href="http://localhost:3000/dashboard-my-active-bids"><span>
										My Cart</span></a></li>
							<li><a href="http://localhost:3000/myactivejobs"><span>My Orders</span></a></li>

					</div>
				</div>



				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="http://localhost:3000/pages-contact"><span>Contact</span></a></li>
							<li><a href="http://localhost:3000/privacy"><span>Privacy Policy</span></a></li>
							<li><a href="http://localhost:3000/termsofuse"><span>Terms of Use</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="http://localhost:3000/single-freelancer-profile"><span>My
										Account</span></a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->

	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2023 <strong>ShopZone</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->
	</div>
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/mmenu.min.js"></script>
	<script src="/js/tippy.all.min.js"></script>
	<script src="/js/simplebar.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/snackbar.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/counterup.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		}); 
	</script>

	<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
	<script src="js/chart.min.js"></script>
	<script>
		Chart.defaults.global.defaultFontFamily = "Nunito";
		Chart.defaults.global.defaultFontColor = '#888';
		Chart.defaults.global.defaultFontSize = '14';

		var ctx = document.getElementById('chart').getContext('2d');

		var chart = new Chart(ctx, {
			type: 'line',

			// The data for our dataset
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				// Information about the dataset
				datasets: [{
					label: "Views",
					backgroundColor: 'rgba(42,65,232,0.08)',
					borderColor: '#2a41e8',
					borderWidth: "3",
					data: [196, 132, 215, 362, 210, 252],
					pointRadius: 5,
					pointHoverRadius: 5,
					pointHitRadius: 10,
					pointBackgroundColor: "#fff",
					pointHoverBackgroundColor: "#fff",
					pointBorderWidth: "2",
				}]
			},

			// Configuration options
			options: {

				layout: {
					padding: 10,
				},

				legend: { display: false },
				title: { display: false },

				scales: {
					yAxes: [{
						scaleLabel: {
							display: false
						},
						gridLines: {
							borderDash: [6, 10],
							color: "#d8d8d8",
							lineWidth: 1,
						},
					}],
					xAxes: [{
						scaleLabel: { display: false },
						gridLines: { display: false },
					}],
				},

				tooltips: {
					backgroundColor: '#333',
					titleFontSize: 13,
					titleFontColor: '#fff',
					bodyFontColor: '#fff',
					bodyFontSize: 13,
					displayColors: false,
					xPadding: 10,
					yPadding: 10,
					intersect: false
				}
			},


		});

	</script>

</body>

</html>