<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>ShopZone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/colors/orange.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		<header id="header-container" class="fullwidth">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Left Side Content -->
					<div class="left-side">

						<!-- Logo -->
						<div id="logo">
							<a href="http://localhost:3000/index-company"><img src="/images/logo.png"
									alt=""></a>
						</div>

						<!-- Main Navigation -->
						<nav id="navigation">
							<ul id="responsive">

								<li><a href="#" class="current">Home</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/index-company">Home Page</a></li>

									</ul>
								</li>

								<li><a href="#">Find Companies</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/sellers-grid-layout-full-page">Browse Sellers</a>
										</li>
										<li><a href="http://localhost:3000/browse-companies">Browse Companies</a></li>
										<li><a href="http://localhost:3000/companyprofile">Company Profile</a>
										</li>
									</ul>
								</li>

								<li><a href="#">For Company</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/dashboard-manage-jobs">Manage Orders</a></li>
										<li><a href="http://localhost:3000/dashboard-manage-tasks">Manage Products</a></li>
										<li><a href="http://localhost:3000/dashboard-post-a-task">Post a Product</a></li>
									</ul>
								</li>

								<li><a href="#">Dashboard</a>
									<ul class="dropdown-nav">
										<li><a href="http://localhost:3000/companyreviews">Reviews</a></li>
										<li><a href="http://localhost:3000/dashboard-manage-tasks">Products</a>
											<ul class="dropdown-nav">
												<li><a href="http://localhost:3000/dashboard-manage-tasks">Manage
														Products</a></li>
												<li><a href="http://localhost:3000/dashboard-post-a-task">Post a
														Product</a></li>
											</ul>
										</li>
										<li><a href="http://localhost:3000/setting-company">Settings</a></li>
									</ul>
								</li>

								<li><a href="http://localhost:3000/pages-contact">Contact us</a>
								</li>

							</ul>
						</nav>
						</nav>
						<div class="clearfix"></div>
						<!-- Main Navigation / End -->

					</div>
					<!-- Left Side Content / End -->


					<!-- Right Side Content / End -->
					<div class="right-side">


						<!-- User Menu -->
						<div class="header-widget">

							<!-- Messages -->
							<div class="header-notifications user-menu">
								<div class="header-notifications-trigger">
									<a href="#">
										<div class="user-avatar status-online"><img src="<%= details[0].image %>"
												alt=""></div>
									</a>
								</div>

								<!-- Dropdown -->
								<div class="header-notifications-dropdown">

									<!-- User Status -->
									<div class="user-status">

										<!-- User Name / Avatar -->
										<div class="user-details">
											<div class="user-avatar status-online"><img src="<%= details[0].image %>"
													alt="Company Logo"></div>
											<div class="user-name">
												<%= details[0].companyname%> <span>Seller</span>
											</div>
										</div>

										<!-- User Status Switcher -->
										<div class="status-switch" id="snackbar-user-status">
											<label class="user-online current-status">Online</label>
											<label class="user-invisible">Invisible</label>
											<!-- Status Indicator -->
											<span class="status-indicator" aria-hidden="true"></span>
										</div>
									</div>

									<ul class="user-menu-small-nav">
										<li><a href="http://localhost:3000/logout/company"><i
													class="icon-material-outline-power-settings-new"></i> Logout</a>
										</li>
									</ul>

								</div>
							</div>

						</div>
						<!-- User Menu / End -->
						<!-- Mobile Navigation Button -->
						<span class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</span>

					</div>
					<!-- Right Side Content / End -->

				</div>
			</div>
			<!-- Header / End -->

		</header>
		<div class="clearfix"></div>
		<!-- Header Container / End -->	<!-- Dashboard Container -->
		<div class="dashboard-container">


			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Settings</h3>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Registration</a></li>
								<li>Company Information</li>
							</ul>
						</nav>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- Dashboard Box -->
						<div class="col-xl-12">
							<div class="dashboard-box margin-top-0">
								<form method="POST" id="EmployerDetails" enctype="multipart/form-data"
									action="/setting-company">
									<!-- Headline -->
									<div class="headline">
										<h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
									</div>

									<div class="content with-padding padding-bottom-0">

										<div class="row">

											<div class="col-auto">
												<div class="avatar-wrapper" data-tippy-placement="bottom"
													title="Change Avatar">
													<img class="profile-pic" src="<%= details[0].image %>"
														alt="/images/user-avatar-placeholder.png" />
													<div class="upload-button"></div>
													<input type="hidden" name="defaultfile"
														value="<%= details[0].image %>" /> <input class="file-upload"
														type="file" accept="image/*" name="picture" />
												</div>
											</div>

											<div class="col">
												<div class="row">

													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Company Name</h5>
															<input type="text" class="with-border" name="cname"
																value="<%= details[0].companyname %>" pattern="{2,15}"
																placeholder="Enter Alphabets Only" required>
														</div>
													</div>
													<!-- 
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Company Location</h5>
															<input type="text" class="with-border" value="Smith"
																required>
														</div>
													</div> -->

													<div class="col-xl-6">
														<!-- Account Type -->
														<div class="submit-field">
															<h5>Account Type</h5>
															<div class="account-type">
																<span
																	class="border border-primary"><strong>Employeer/Company</strong></span>
															</div>
														</div>
													</div>

													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Email</h5>
															<input type="text" class="with-border" name="email" disabled
																value="<%= details[0].email %>">
														</div>
													</div>
													<input type="hidden" name="email" value="<%= details[0].email %>"">

												</div>
											</div>
										</div>

									</div>
							</div>
						</div>

						<!-- Dashboard Box -->
						<div class=" col-xl-12">
													<div class="dashboard-box">

														<!-- Headline -->
														<div class="headline">
															<h3><i class="icon-material-outline-face"></i> My Profile
															</h3>
														</div>
														<div class="content">
															<ul class="fields-ul">

																<li>
																	<div class="row">
																		<div class="col-xl-6">
																			<div class="submit-field">
																				<h5>Company Type</h5>
																				<input type="text" name="type"
																					class="with-border"
																					value="<%= details[0].companytype %>"
																					placeholder="eg. Software House"
																					required>
																			</div>
																		</div>

																		<div class="col-xl-6">
																			<div class="submit-field">
																				<h5>HeaderQuater Location</h5>
																				<select name="location" id="country"
																					value="<%= details[0].headquarter %>"
																					required>
																					<option value="">Select Country
																					</option>
																					<option value="Argentina">Argentina</option>
																					<option value="Armenia">Armenia</option>
																					<option value="Aruba">Aruba</option>
																					<option value="Australia">Australia</option>
																					<option value="Austria">Austria</option>
																					<option value="Azerbaijan">Azerbaijan</option>
																					<option value="Bahamas">Bahamas</option>
																					<option value="Bahrain">Bahrain</option>
																					<option value="Bangladesh">Bangladesh</option>
																					<option value="Barbados">Barbados</option>
																					<option value="Belarus">Belarus</option>
																					<option value="Belgium">Belgium</option>
																					<option value="Belize">Belize</option>
																					<option value="Benin">Benin</option>
																					<option value="Bermuda">Bermuda</option>
																					<option value="Bhutan">Bhutan</option>
																					<option value="Bulgaria">Bulgaria</option>
																					<option value="Burkina Faso">Burkina Faso</option>
																					<option value="Burundi">Burundi</option>
																					<option value="Cambodia">Cambodia</option>
																					<option value="Cameroon">Cameroon</option>
																					<option value="Canada">Canada</option>
																					<option value="Cape Verde">Cape Verde</option>
																					<option value="Cayman Islands">Cayman Islands</option>
																					<option value="Colombia">Colombia</option>
																					<option value="Comoros">Comoros</option>
																					<option value="Congo">Congo</option>
																					<option value="Cook Islands">Cook Islands</option>
																					<option value="Costa Rica">Costa Rica</option>
																					<option value="Côte d'Ivoire">Côte d'Ivoire</option>
																					<option value="Croatia">Croatia</option>
																					<option value="Cuba">Cuba</option>
																					<option value="Curaçao">Curaçao</option>
																					<option value="Cyprus">Cyprus</option>
																					<option value="Czech Republic">Czech Republic</option>
																					<option value="Denmark">Denmark</option>
																					<option value="Djibouti">Djibouti</option>
																					<option value="Dominica">Dominica</option>
																					<option value="Dominican Republic">Dominican Republic</option>
																					<option value="Ecuador">Ecuador</option>
																					<option value="Egypt">Egypt</option>
																					<option value="Guadeloupe">Guadeloupe</option>
																					<option value="Guam">Guam</option>
																					<option value="Guatemala">Guatemala</option>
																					<option value="Guernsey">Guernsey</option>
																					<option value="Guinea">Guinea</option>
																					<option value="Guinea-Bissau">Guinea-Bissau</option>
																					<option value="Guyana">Guyana</option>
																					<option value="Haiti">Haiti</option>
																					<option value="Honduras">Honduras</option>
																					<option value="Hong Kong">Hong Kong</option>
																					<option value="Hungary">Hungary</option>
																					<option value="Iceland">Iceland</option>
																					<option value="India">India</option>
																					<option value="Indonesia">Indonesia</option>
																					<option value="Norway">Norway</option>
																					<option value="Oman">Oman</option>
																					<option value="Pakistan">Pakistan</option>
																					<option value="Palau">Palau</option>
																					<option value="Panama">Panama</option>
																					<option value="Papua New Guinea">Papua New Guinea</option>
																					<option value="Paraguay">Paraguay</option>
																					<option value="Peru">Peru</option>
																					<option value="Philippines">Philippines</option>
																					<option value="Pitcairn">Pitcairn</option>
																					<option value="Poland">Poland</option>
																					<option value="Portugal">Portugal</option>
																					<option value="Puerto Rico">Puerto Rico</option>
																					<option value="Qatar">Qatar</option>
																					<option value="Réunion">Réunion</option>
																					<option value="Romania">Romania</option>
																					<option value="Russian Federation">Russian Federation</option>
																					<option value="Rwanda">Rwanda</option>
																					<option value="Swaziland">Swaziland</option>
																					<option value="Sweden">Sweden</option>
																					<option value="Switzerland">Switzerland</option>
																					<option value="Turkey">Turkey</option>
																					<option value="Turkmenistan">Turkmenistan</option>
																					<option value="Tuvalu">Tuvalu</option>
																					<option value="Uganda">Uganda</option>
																					<option value="Ukraine">Ukraine</option>
																					<option value="United Kingdom">United Kingdom</option>
																					<option value="United States">United States</option>
																					<option value="Uruguay">Uruguay</option>
																					<option value="Uzbekistan">Uzbekistan</option>
																					<option value="Yemen">Yemen</option>
																					<option value="Zambia">Zambia</option>
																					<option value="Zimbabwe">Zimbabwe</option>									
																				</select>
																			</div>
																		</div>

																		<div class="col-xl-12">
																			<div class="submit-field">
																				<h5>Introduction to Company</h5>
																				<textarea cols="30" rows="5"
																					name="description"
																					class="with-border"
																					placeholder="A brief introduction of the company!"
																					required><%=details[0].intro%></textarea>
																			</div>
																		</div>

																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>


												<!-- Dashboard Box -->
												<div class="col-xl-12">
													<div id="test1" class="dashboard-box">

														<!-- Headline -->
														<div class="headline">
															<h3><i class="icon-material-outline-lock"></i> Password &
																Security
															</h3>
														</div>
														<h3>
															<%= message %>
														</h3>
														<div class="content with-padding">
															<div class="row">
																<div class="col-xl-4">
																	<div class="submit-field">
																		<h5>Current Password</h5>
																		<input type="password" name="cpass"
																			class="with-border" maxlength="60"
																			minlength="8">
																	</div>
																</div>

																<div class="col-xl-4">
																	<div class="submit-field">
																		<h5>New Password</h5>
																		<input type="password" name="npass" id="npass"
																			oninput="setPasswordConfirmValidity() "
																			class="with-border" maxlength="60"
																			minlength="8">
																	</div>
																</div>

																<div class="col-xl-4">
																	<div class="submit-field">
																		<h5>Repeat New Password</h5>
																		<input type="password" name="rpass" id="rpass"
																			oninput="setPasswordConfirmValidity()"
																			class="with-border" maxlength="60"
																			minlength="8">
																	</div>
																</div>
																<script>
																	function setPasswordConfirmValidity(str) {
																		const password1 = document.getElementById('npass');
																		const password2 = document.getElementById('rpass');

																		if (password1.value === password2.value) {
																			password2.setCustomValidity('');
																		} else {
																			password2.setCustomValidity('Passwords must match');
																		}
																		console.log('password2 customError ', document.getElementById('password2').validity.customError);
																		console.log('password2 validationMessage ', document.getElementById('password2').validationMessage);
																	}
																</script>

															</div>
														</div>
													</div>


													<!-- Button -->
													<a class="btn btn-info" role="button"><button
															class="button ripple-effect margin-top-30" type="submit"
															form="EmployerDetails">Save Changes <i
																class="icon-material-outline-arrow-right-alt"></i></button></a>



												</div>
								</form>
							</div>
							<!-- Row / End -->

					
						</div>
					</div>
					<!-- Dashboard Content / End -->

				</div>
				<!-- Dashboard Container / End -->
	<!-- Footer -->
	<div id="footer">

		<!-- Footer Top Section -->
		<div class="footer-top-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">

						<!-- Footer Rows Container -->
						<div class="footer-rows-container">

							<!-- Left Side -->
							<div class="footer-rows-left">
								<div class="footer-row">
									<div class="footer-row-inner footer-logo">
										<img src="/images/logo.png" alt="">
										<h1 style="font-size: 50px; color: blanchedalmond;">
											<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ShopZone </strong>
										</h1>
									</div>
								</div>
							</div>

							<!-- Right Side -->
							<div class="footer-rows-right">

								<!-- Social Icons -->
								<div class="footer-row">
									<div class="footer-row-inner">
										<ul class="footer-social-links">
											<li>
												<a href="#" title="Facebook" data-tippy-placement="bottom"
													data-tippy-theme="light">
													<i class="icon-brand-facebook-f"></i>
												</a>
											</li>
											<li>
												<a href="#" title="Twitter" data-tippy-placement="bottom"
													data-tippy-theme="light">
													<i class="icon-brand-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#" title="Google Plus" data-tippy-placement="bottom"
													data-tippy-theme="light">
													<i class="icon-brand-google-plus-g"></i>
												</a>
											</li>
											<li>
												<a href="#" title="LinkedIn" data-tippy-placement="bottom"
													data-tippy-theme="light">
													<i class="icon-brand-linkedin-in"></i>
												</a>
											</li>
										</ul>
										<div class="clearfix"></div>
									</div>
								</div>

								<!-- Language Switcher -->
								<div class="footer-row">
									<div class="footer-row-inner">
										<label>Language : English</label>
									</div>
								</div>
							</div>

						</div>
						<!-- Footer Rows Container / End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Top Section / End -->

		<!-- Footer Middle Section -->
		<div class="footer-middle-section">
			<div class="container">
				<div class="row">


					<!-- Links -->
					<div class="col-xl-2 col-lg-2 col-md-">
						<div class="footer-links">
							<h3>For Sellers</h3>
							<ul>
							
								<li><a href="http://localhost:3000/dashboard-post-a-task"><span>Post a
											Product</span></a></li>
								<li><a href="http://localhost:3000/dashboard-manage-tasks"><span>Manage
									Products</span></a></li>
								<li><a href="http://localhost:3000/dashboard-manage-jobs"><span>Manage Jobs</span></a></li>
							</ul>
						</div>
					</div>

					<!-- Links -->
					<div class="col-xl-2 col-lg-2 col-md-3">
						<div class="footer-links">
							<h3>Helpful Links</h3>
							<ul>
								<li><a href="http://localhost:3000/pages-contact"><span>Contact</span></a></li>
								<li><a href="http://localhost:3000/privacy"><span>Privacy Policy</span></a></li>
								<li><a href="http://localhost:3000/termsofuse"><span>Terms of Use</span></a></li>
							</ul>
						</div>
					</div>

					<!-- Links -->
					<div class="col-xl-2 col-lg-2 col-md-3">
						<div class="footer-links">
							<h3>Account</h3>
							<ul>
								<li><a href="http://localhost:3000/companyprofile"><span>My
											Account</span></a></li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- Footer Middle Section / End -->

		<!-- Footer Copyrights -->
		<div class="footer-bottom-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						© 2023 <strong>ShopZone</strong>. All Rights Reserved.
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Copyrights / End -->

	</div>
				<!-- Footer / End -->
			</div>
			<!-- Wrapper / End -->


			<!-- Scripts
================================================== -->
			<script src="/js/jquery-3.3.1.min.js"></script>
			<script src="/js/jquery-migrate-3.0.0.min.js"></script>
			<script src="/js/mmenu.min.js"></script>
			<script src="/js/tippy.all.min.js"></script>
			<script src="/js/simplebar.min.js"></script>
			<script src="/js/bootstrap-slider.min.js"></script>
			<script src="/js/bootstrap-select.min.js"></script>
			<script src="/js/snackbar.js"></script>
			<script src="/js/clipboard.min.js"></script>
			<script src="/js/counterup.min.js"></script>
			<script src="/js/magnific-popup.min.js"></script>
			<script src="/js/slick.min.js"></script>
			<script src="/js/custom.js"></script>

			<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
			<script>
				// Snackbar for user status switcher
				$('#snackbar-user-status label').click(function () {
					Snackbar.show({
						text: 'Your status has been changed!',
						pos: 'bottom-center',
						showAction: false,
						actionText: "Dismiss",
						duration: 3000,
						textColor: '#fff',
						backgroundColor: '#383838'
					});
				}); 
			</script>

			<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
			<script src="js/chart.min.js"></script>
			<script>



				document.getElementById("country").value = "<%= details[0].headquarter %>";

				Chart.defaults.global.defaultFontFamily = "Nunito";
				Chart.defaults.global.defaultFontColor = '#888';
				Chart.defaults.global.defaultFontSize = '14';

				var ctx = document.getElementById('chart').getContext('2d');

				var chart = new Chart(ctx, {
					type: 'line',

					// The data for our dataset
					data: {
						labels: ["January", "February", "March", "April", "May", "June"],
						// Information about the dataset
						datasets: [{
							label: "Views",
							backgroundColor: 'rgba(42,65,232,0.08)',
							borderColor: '#2a41e8',
							borderWidth: "3",
							data: [196, 132, 215, 362, 210, 252],
							pointRadius: 5,
							pointHoverRadius: 5,
							pointHitRadius: 10,
							pointBackgroundColor: "#fff",
							pointHoverBackgroundColor: "#fff",
							pointBorderWidth: "2",
						}]
					},

					// Configuration options
					options: {

						layout: {
							padding: 10,
						},

						legend: { display: false },
						title: { display: false },

						scales: {
							yAxes: [{
								scaleLabel: {
									display: false
								},
								gridLines: {
									borderDash: [6, 10],
									color: "#d8d8d8",
									lineWidth: 1,
								},
							}],
							xAxes: [{
								scaleLabel: { display: false },
								gridLines: { display: false },
							}],
						},

						tooltips: {
							backgroundColor: '#333',
							titleFontSize: 13,
							titleFontColor: '#fff',
							bodyFontColor: '#fff',
							bodyFontSize: 13,
							displayColors: false,
							xPadding: 10,
							yPadding: 10,
							intersect: false
						}
					},


				});

			</script>


			<!-- Google Autocomplete -->
			<script>
				function initAutocomplete() {
					var options = {
						types: ['(cities)'],
						// componentRestrictions: {country: "us"}
					};

					var input = document.getElementById('autocomplete-input');
					var autocomplete = new google.maps.places.Autocomplete(input, options);

					if ($('.submit-field')[0]) {
						setTimeout(function () {
							$(".pac-container").prependTo("#autocomplete-container");
						}, 300);
					}
				}
			</script>

			<!-- Google API -->
			<script
				src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>


</body>

</html>