<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>ShopZone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" type='text/css' href="/css/style.css">
	<link rel="stylesheet" type='text/css' href="/css/colors/orange.css">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<%- include('../partials/header') %>

		<div class="clearfix"></div>
		<!-- Header Container / End -->
		<!-- Titlebar
================================================== -->
		<div class="single-page-header freelancer-header" data-background-image="/images/single-freelancer.jpg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="single-page-header-inner">
							<div class="left-side">
								<div class="header-image freelancer-avatar"><img src="<%= info.image %>" alt=""></div>
								<div class="header-details">


									<h3>
										<label>
											<%=info.f_name%>
												<%=info.l_name%>
										</label>
										<label>Account Type: <%=info.acc_type%></label>
										<label>Email: <%=info.email%></label>
									</h3>
									<ul>
										<li>
											<div class="star-rating" data-rating="5.0"></div>
										</li>
										<li><img class="flag" src="/images/flags/de.svg" alt="">
											<%=info.country_name%>
										</li>
										<li>
											<div class="verified-badge-with-title">Verified</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Page Content
================================================== -->
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div class="col-xl-8 col-lg-8 content-right-offset">

					<!-- Page Content -->
					<div class="single-page-section">
						<h3 class="margin-bottom-25">Address:</h3>
						<p>
							<%=info.street_address%>,<%=info.city_name%>,<%=info.country_name%>

						</p>

					</div>

				
					<!-- Boxed List / End -->


				</div>

				<!-- Sidebar -->
				<div class="col-xl-4 col-lg-4">
					<div class="sidebar-container">

						<!-- Profile Overview -->
						<div class="profile-overview">
							<div class="overview-item">
							  <strong>
								<% if (info2 != null) { %>
								  <%= info2 %>
								<% } else { %>
								  0
								<% } %>
							  </strong>
							  <span>Total Orders</span>
							</div>
						  </div>
						

						<!-- Sidebar Widget -->
						<div class="sidebar-widget">
							<h3>Bookmark</h3>

							<!-- Bookmark Button -->
							<button class="bookmark-button margin-bottom-25">
								<span class="bookmark-icon"></span>
								<span class="bookmark-text">Bookmark</span>
								<span class="bookmarked-text">Bookmarked</span>
							</button>


						</div>

					</div>
				</div>

			</div>
			<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
	
							<!-- Section Headline -->
							<div class="section-headline margin-top-0 margin-bottom-35">
								<h3>My Orders</h3>
							</div>
							<% for (let i=0; i < jobs.length; i++){ %>
								<!-- Jobs Container -->
								<div class="listings-container compact-list-layout margin-top-35">
									<!-- Job Listing -->
									<a href="http://localhost:3000/vieworderdetails/<%= jobs[i].order_id %>"
										class="job-listing with-apply-button">
	
										<!-- Job Listing Details -->
										<div class="job-listing-details">
	
							
	
											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title">
													Order ID: <%= jobs[i].order_id %>						
												</h3>
												<p>
													Payment Type: <%= jobs[i].payment_choice %>
												</p>
												<p class="order-listing-text">
													<% if (jobs[i].order_status === "Pending") { %>
													Status: Pending
													<% } else if (jobs[i].order_status === "Shipped") { %>
														Status: Shipped
													<a class="button" href="/markasdelivered/<%= jobs[i].order_id %>">Mark as
														Delivered</a>
													<% } 
													else if (jobs[i].order_status === "Delivered") { %>
														Status: Delivered
														<% } %>
												</p>
	
												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="icon-material-outline-location-on"></i>
															PKR <%= jobs[i].total%>
														</li>
												
														<li><i class="icon-material-outline-business-center"></i>
															Total Items: <%= jobs[i].qua%>
														</li>
													</ul>
												</div>
											</div>
	
											<a href="/vieworderdetails/<%= jobs[i].order_id %>"
												class="button button-sliding-icon ripple-effect">See Complete Summary <i
													class="icon-material-outline-arrow-right-alt"></i></a>
										</div>
	
									</a>
	
								</div>
								<%}%>
									<!-- Jobs Container / End -->
	
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- Spacer -->
		<div class="margin-top-15"></div>
		<!-- Spacer / End-->
		<%- include('../partials/footer') %>





	</div>
	<!-- Wrapper / End -->



	<!-- Scripts
================================================== -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="/js/mmenu.min.js"></script>
	<script src="/js/tippy.all.min.js"></script>
	<script src="/js/simplebar.min.js"></script>
	<script src="/js/bootstrap-slider.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/snackbar.js"></script>
	<script src="/js/clipboard.min.js"></script>
	<script src="/js/counterup.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/custom.js"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		});

		// Snackbar for "place a bid" button
		$('#snackbar-place-bid').click(function () {
			Snackbar.show({
				text: 'Your bid has been placed!',
			});
		});


		// Snackbar for copy to clipboard button
		$('.copy-url-button').click(function () {
			Snackbar.show({
				text: 'Copied to clipboard!',
			});
		}); 
	</script>

</body>

</html>